<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - My Portfolio</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/lib/bootwatchTheme/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    @await Html.PartialAsync("_navbar")

    <!-- Page Header-->
  

    <!-- Page Content -->
    <div class="container mt-4">
        @RenderBody()
    </div>

    <!-- Footer-->

    <!-- Bootstrap core JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
</body>
</html>
